<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="flex flex-col w-screen h-screen bg-gray-200">
    <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="flex flex-col justify-center items-center w-auto h-auto p-20 bg-white rounded-lg shadow">
            <div class="flex flex-col w-full h-full justify-center items-center text-emerald-700 text-9xl font-bold md:text-5xl">404</div>
            <div class="flex flex-col w-full h-full justify-center items-center text-neutral-700 text-6xl md:text-2xl">Page not found.</div>
        </div>
    </div>
</body>

</html>