<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="flex flex-col w-screen h-screen bg-gray-100">
    <h1 class="flex flex-col w-full h-full justify-center items-center text-emerald-700 text-9xl font-bold md:text-2xl">Welcome to 3rEco API</h1>
</body>

</html>